mixin imglist(num,imageArray)
    .img-wrapper.swiper-slide(class='img-wrapper-' + num)
        .img-box
            span(style='font-size:24px;color:red;position:absolute')=num
            each val in imageArray
                img(src="imgs/" + num + "/" + val + '.png' class='img' + val)
