mixin imglist(num,imageArray)
    .img-wrapper.swiper-slide(class='img-wrapper-' + num)
        .img-box
            each val in imageArray
                img(src="imgs/" + num + "/" + val + '.png' class='img' + val)
