include temp/head
include temp/img-wrapper
include temp/loading
html
    head
        +title('壹清2017年产品介绍')
    body
        .swiper-container
            .swiper-wrapper
                +imglist('H5-1')
                +imglist('H5-2')
                +imglist('H5-3')
                +imglist('H5-5')
                +imglist('H5-6')
                +imglist('H5-7')
                +imglist('H5-8')
                +imglist('H5-9')
                +imglist('H5-10')
                +imglist('H5-11')
                +imglist('H5-12')
                +imglist('H5-13')
                +imglist('H5-14')
                +imglist('H5-15')
                +imglist('H5-16')
                +imglist('H5-17')
                +imglist('H5-18')
                +imglist('H5-19')
                +imglist('H5-20')
                +imglist('H5-21')
                +imglist('H5-22')
                +imglist('H5-23')
                +imglist('H5-24')
                +imglist('H5-25')
                +imglist('H5-26')
                +imglist('H5-27')
                +imglist('H5-28')
                +imglist('H5-29')
                +imglist('H5-30')
        +loading
        audio(controls autoplay loop='loop')
            source(src='http://oh991bwke.bkt.clouddn.com/1.mp3' type="audio/mpeg")

    script(type="text/javascript",src="js/main-min.js")